---
export interface Props {
  links?: { label: string; href: string; target?: HTMLAttributeAnchorTarget }[];
  title: string;
}

const { title, links } = Astro.props as Props;
const id = title?.toLowerCase?.()?.replace(' ', ' -')
---

<section class='flex mb-16'>
  <a href={`#${id}`}>
    <h4 id={id} class='w-24 text-neutral-400'>{title}</h4>
  </a>
  <ul>
    {links?.map(({label,...link}) => (
    <li
      class='mb-2 hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-pink-400 dark:hover:to-violet-400 hover:to-violet-800'>
      <a {...link}>
        {label}
      </a>
    </li>
    ))}
  </ul>
  <slot />
</section>
